body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #002147;
    color: white;
    padding: 20px;
    text-align: center;
}

.profile-image {
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

.social-media {
    text-align: center;
    margin: 20px 0;
}

.social-media a {
    margin: 0 10px;
    font-size: 24px;
    color: #333;
    transition: transform 0.3s;
}

.social-media a:hover {
    transform: scale(1.2);
}

.skills, .repositories {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}
